.container {
	width: 75%;
	margin: 0 auto;
	margin-top: 100px; 
	margin-bottom: 100px;  
}

.row {
	height: 200px;
}

.top-row {
	border-bottom: 1px solid black; 
}

.middle-row {
	border-bottom: 1px solid black;
}

.row-relative {
	position: relative;
}

.col-border:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	border-left: 1px solid black;
}

