body {
	font-size: 30px; 
	font-weight: bold; 
}

.container {
	margin-top: 100px; 
	margin-bottom: 100px;  
}

h1 {
	text-align: center;
	padding-bottom: 25px; 
}

#message {
	padding-bottom: 15px; 
}

.table {
	width: 250px;
	height: 250px;
	text-align: center;
	margin: 0 auto;
	border: 1px solid black;
}





/*CSS code for creating a column in bootstrap with borders
.row {
	height: 200px;
}

.top-row {
	border-bottom: 1px solid black; 
}

.middle-row {
	border-bottom: 1px solid black;
}

.row-relative {
	position: relative;
}

//not much difference between before and after
.col-border:before {

	content: '';
	position: absolute;
	// top and bottom are used in conjunction with position 
	// means it will stretch to the top and bottom of any page with absolute positioning 
	top: 0;
	bottom: 0;
	border-left: 1px solid black;
}
*/

