body {
	font-size: 30px; 
	font-weight: bold; 
}

h1 {
	text-align: center;
	padding-bottom: 25px;
}

#message {
	padding-bottom: 15px; 
	text-align: center;
	padding-bottom: 25px; 
}

.table {
	width: 350px;
	height: 350px;
	text-align: center;
	margin: 0 auto;
	border: 1px solid black;
}

td {
	border: 1px solid black; 
	width: 33.33%;
	height: 33.33%;
}

.X:after {
	content: '\0058';
}

.O:after {
	content: '\004F'; 
}





/*CSS code for creating a column in bootstrap with borders
.row {
	height: 200px;
}

.top-row {
	border-bottom: 1px solid black; 
}

.middle-row {
	border-bottom: 1px solid black;
}

.row-relative {
	position: relative;
}

//not much difference between before and after
.col-border:before {

	content: '';
	position: absolute;
	// top and bottom are used in conjunction with position 
	// means it will stretch to the top and bottom of any page with absolute positioning 
	top: 0;
	bottom: 0;
	border-left: 1px solid black;
}
*/

